:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;
  background-color: #f8f8f8; /* Light gray background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #66BB6A;
  --primary-color-hover: #5CB85C;
  --danger-color: #EF5350;
  --danger-color-hover: #E53935;

  /* Skill Role Colors */
  --color-elite: #FFD700; /* Gold */
  --color-elite-rgb: 255, 215, 0;
  --color-elite-transparent: rgba(255, 215, 0, 0.3);
  --color-tank: #F0E68C; /* Khaki */
  --color-tank-rgb: 240, 230, 140;
  --color-tank-transparent: rgba(240, 230, 140, 0.3);
  --color-clan: #1E90FF; /* DodgerBlue */
  --color-clan-rgb: 30, 144, 255;
  --color-clan-transparent: rgba(30, 144, 255, 0.3);
  --color-shooter: #7FFFD4; /* Aquamarine */
  --color-shooter-rgb: 127, 255, 212;
  --color-shooter-transparent: rgba(127, 255, 212, 0.3);
  --color-goblin: #8BC34A; /* Light Green */
  --color-goblin-rgb: 139, 195, 74;
  --color-goblin-transparent: rgba(139, 195, 74, 0.3);
  --color-assassin: #DC143C; /* Crimson */
  --color-assassin-rgb: 220, 20, 60;
  --color-assassin-transparent: rgba(220, 20, 60, 0.3);
  --color-undead: #008080; /* Teal */
  --color-undead-rgb: 0, 128, 128;
  --color-undead-transparent: rgba(0, 128, 128, 0.3);
  --color-fighter: #FFA500; /* Orange */
  --color-fighter-rgb: 255, 165, 0;
  --color-fighter-transparent: rgba(255, 165, 0, 0.3);
  --color-avenger: #FF69B4; /* HotPink */
  --color-avenger-rgb: 255, 105, 180;
  --color-avenger-transparent: rgba(255, 105, 180, 0.3);
  --color-ace: #800080; /* Purple */
  --color-ace-rgb: 128, 0, 128;
  --color-ace-transparent: rgba(var(--color-ace-rgb), 0.3);
  --color-thrower: #8B4513; /* SaddleBrown */
  --color-thrower-rgb: 139, 69, 19;
  --color-thrower-transparent: rgba(var(--color-thrower-rgb), 0.3);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #fff; /* White background for the app content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto; /* Center the app with some margin */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
